@import './media-mixins.scss';

@mixin light-theme {
  --color-bg: #fff;
  --color-bg-secondary: #e8eef1;
  --color-text: #001a41;
  --color-button: #ed0226;
}

@mixin dark-theme {
  --color-bg: #4f4557;
  --color-bg-secondary: #393646;
  --color-text: #f4eee0;
  --color-button: #ed0226;
}
